{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_block %}
<title>Email Sent</title>
{% endblock meta_block %}

{% block content %}
<div class="pb-5 mb-5">
  <div class="jumbotron mb-5 text-center">
    <p class="display-4">Check your inbox</p>
    <p class="lead">We've emailed you a link to reset your password. You should recieve it shortly.</p>
    <hr>
    <p>Didn't recieve the email? Check your spam folder or click here to resend the email</p>
    <a class="btn btn-outline-dark" href="{% url 'password_reset' %}">Resend Email</a> 
  </div>

</div>
{% endblock content %}
