{% extends "base.html" %}
{% load static %}

{% block meta_block %}
  <title>{{seo.title}}</title>
  <meta name="description" property=og:description content="{{seo.description}}">
  <meta name="keywords" content="{{seo.keywords}}">
  <meta property="og:title" content="{{seo.title}}">
  <meta property="og:url" content="{% url 'core:index' %}">
  {% if main %}
    <meta property="og:image" content="{{main.image.url}}">
    <meta property="og:image:alt" content="{{main.alt}}">
  {% endif %}

{% endblock meta_block %}

{% block content %}
<div class="jumbotron jumbotron-fluid d-flex">
  <video autoplay muted loop>
    <source src="{% static "img/index/BlackTriangleBackground.mp4" %}" type="video/mp4" />
  </video>
  <div class="container text-light text-center my-auto">
    <p class="display-4">Full Stack Pak</p>
    <p class="lead">Finally, a 100% customizable, no-code website specifically designed for your buisness</p>
    <a class="btn btn-outline-light btn-lg" href="#" role="button">Find My Design</a>
  </div>
</div>

{% endblock content %}

{% block extra_footer %}
{% if products|length > featured_products|length %}
    <div class="pt-4">
      {% if footer_text %}
      <a class="btn btn-outline-{{footer_text}} btn-lg shadow" href="{% url 'core:product-list' %}"
          role="button">View All Paks</a>
      {% else %}
      <a class="btn btn-outline-light btn-lg shadow" href="{% url 'core:product-list' %}"
          role="button">View All Paks</a>
      {% endif %}
    </div>

{% endif %}
{% endblock extra_footer %}

{% block extra_scripts %}
  <script type="text/javascript">
  // Select all links with hashes
$('a[href*="#"]')
// Remove links that don't actually link to anything
.not('[href="#"]')
.not('[href="#0"]')
.click(function(event) {
 // On-page links
 if (
   location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
   &&
   location.hostname == this.hostname
 ) {
   // Figure out element to scroll to
   var target = $(this.hash);
   target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
   // Does a scroll target exist?
   if (target.length) {
     // Only prevent default if animation is actually gonna happen
     event.preventDefault();
     $('html, body').animate({
       scrollTop: target.offset().top
     }, 500, function() {
       // Callback after animation
       // Must change focus!
       var $target = $(target);
       $target.focus();
       if ($target.is(":focus")) { // Checking if the target was focused
         return false;
       } else {
         $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
         $target.focus(); // Set focus again
       };
     });
   }
 }
});
  </script>
{% endblock extra_scripts %}
