{% extends "base.html" %}
{% load static %}
{% block meta_block %}
{% endblock meta_block %}


{% block content %}

<div class="mb-5 pb-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">{{object.product}} Details</h1>
    <p class="lead">Please refer to the information below for the status of your website setup</p>
  </div>
  <div class="container pb-5">
  <div class="row">
    <div class="col-lg-5 col-md-6 mb-4 mx-auto">
      <div class="card shadow">
        <div class="card-body text-center">
          {% if not object.email or not object.business_name %}
            <p class="card-title h5 mt-3">Step 1 of 2:</p>
            <p class="lead">Complete Information</p>
            <a class="btn btn-primary mb-4" href="{% url 'users:update-order' pk=object.pk %}">Get Started</a>
          {% elif not object.confirmed_email %}
            <p class="card-title h5 mt-3">Step 2 of 2:</p>
            <p class="lead">Confirm Information</p>
            <div class="card-text text-left">
              <a class="float-right" href="{% url 'users:update-order' pk=object.pk %}">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <p class="small"><strong>Email:</strong> {{object.email}}</p>
              <p class="small"><strong>Business/Website Name:</strong> {{object.business_name}}</p>
            </div>
            <a id="confirm-button" class="btn btn-primary mb-4" href="{% url 'users:confirm-email' orderid=object.pk %}">
              Send Email Confirmation
            </a>
          {% elif not object.host_temporary_password or not object.host_username %}
            <p class="card-title h5 mt-3">Account Information Complete!</p>
            <p class="lead">Thank you for confirming your information. We're busy setting up your website now!
              We'll notify you when setup is complete.</p>
          {% else %}
            <p class="card-title h5 mt-3">Your Website Information</p>
            <p class="lead">Your website setup is complete! Please refer to the information below to access your website.</p>
            <a class="btn btn-primary mr-2" href="https://www.pythonanywhere.com/" target="_blank">PythonAnywhere</a>
            <a class="btn btn-success" href="https://{{object.host_username}}.pythonanywhere.com" target="_blank">{{object.business_name}}</a>
            <div class="card-text text-left mt-3">
              <p class="small"><strong>Email:</strong> {{object.email}}</p>
              <p class="small"><strong>Business/Website Name:</strong> {{object.business_name}}</p>
              <p class="small"><strong>PythonAnywhere Username:</strong> {{object.host_username}}</p>
              <p class="small"><strong>PythonAnywhere Temporary Password:</strong> {{object.host_temporary_password}}</p>
            </div>
          {% endif %}
        </div>
      </div>
      <br>
  </div>
</div>
</div>
</div>

{% endblock content %}

{% block extra_scripts %}
  <script type="text/javascript">
    $("#confirm-button").on("click", function() {
      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>')
    })
  </script>
{% endblock extra_scripts %}
