{% extends "base.html" %}
{% load static %}

{% block meta_block %}
  <title>{{seo.title}}</title>
  <meta name="description" property=og:description content="{{seo.description}}">
  <meta name="keywords" content="{{seo.keywords}}">
  <meta property="og:title" content="{{seo.title}}">
  <meta property="og:url" content="{% url 'core:product-list' %}">
{% endblock meta_block %}


{% block content %}

<div class="container pt-5">

<div class="text-center">
  <div class="Jumbotron pb-2">
    {% if content %}
      {% if request.user.is_superuser %}
      <a class="float-right ml-4" style="color:black;" href="{% url 'settings:delete-content' pk=h1.pk %}?next={{ request.path|urlencode }}"><i class="fa fa-trash"></i></a>
      <a class="float-right"style="color:black;" href="{% url 'settings:update-content' pk=h1.pk %}?next={{ request.path|urlencode }}">
        <i class="fas fa-pencil-alt"></i>
      </a>
      <br>
      {% endif %}

    <p class="display-4">{{h1.heading}}</p>
    <p class="lead">{{h1.details}}</p>
    {% else %}
      {% if request.user.is_superuser %}
      <div class="text-center">
        <a class="float-right" style="color:black;" href="{% url 'settings:create-content' page='LIST' type='H1' %}?next={{ request.path|urlencode }}"><i class="fas fa-pencil-alt"></i></a>
        <br>
      </div>
      {% endif %}

      <p class="display-4">All Products</p>
      <p class="lead">Browse all our products!</p>
    {% endif %}
  </div>

  <hr>

  <div class="row my-4 py-4">
  {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4 mx-auto">
        <div class="card shadow">
            <div class="view overlay">
                <img src="{{product.image.url}}" class="card-img-top" alt="">
                <a href="{% url 'core:product-detail' slug=product.slug %}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">{{product.title}}</h4>
                <!--Text-->
                <p class="card-text">{{product.description|linebreaks|safe}}</p>
                <a href="{% url 'core:product-detail' slug=product.slug %}"
                  class="btn btn-block btn-outline-dark shadow-sm btn-md">Details
                </a>
            </div>
        </div>
    </div>
  {% endfor %}

  </div>
</div>
</div>


{% endblock content %}
