.light-footer-text a{
  color:#fff;
}
.light-footer-text{
  color: #fff;
}
.dark-footer-text a{
  color:#000000;
}
.dark-footer-text{
  color: #000000;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:indigo;
  height: 100vh;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
}
