{% extends "base.html" %}

{% block meta_block %}
{% endblock meta_block %}


{% block content %}

<div class="mb-5 pb-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Your Downloads</h1>
    <p class="lead">{{user.email}}</p>
  </div>
  <div class="container pb-5">

  <div class="row">
  {% for order in orders %}
    <div class="col-lg-5 col-md-6 mb-4 mx-auto">
      <div class="card shadow">
      <div class="view overlay">
          <img src="{{order.product.image.url}}" class="card-img-top" alt="">
      </div>
        <div class="card-body">
          <h3 class="card-title text-center">{{order.product.title}}</h3>
          <p class="card-text text-center">{{order.product.description}}</p>
          <a class="btn btn-block btn-primary btn-lg"href="{{order.product.zip_file.url}}" download="{{order.product.zip_file.url}}">Download</a>
        </div>
      </div>
      <br>
  </div>
  {% endfor %}
</div>
</div>
</div>

{% endblock content %}
