{% extends "base.html" %}
{% load static %}
{% block meta_block %}
{% endblock meta_block %}


{% block content %}

<div class="mb-5 pb-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Your Purchases</h1>
    <p class="lead">{{user.email}}</p>
  </div>
  <div class="container pb-5">

  <div class="row">
  {% for order in orders %}
    <div class="col-lg-5 col-md-6 mb-4 mx-auto">
      <div class="card shadow">
        <!--Product Image/Video-->
        {% if order.product.images.all.0 %}
          {% if order.product.images.all.0.type == 'IMG' %}
            <!--Image-->
            <img src="{{order.product.images.all.0.image.url}}" class="img-fluid card-img-top shadow-sm" alt="{{order.product.title}}">
          {% else %}
          <!--Video-->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item card-img-top shadow-sm"src="{{order.product.images.all.0.video_embed_url}}"></iframe>
          </div>
          {% endif %}
        {% else %}
        <!--Default Blank Product Image-->
          <img src="{% static "img/Default_Blank_Product.png" %}" class="img-fluid card-img-top shadow-sm" alt="{{order.product.title}}">
        {% endif %}
        <div class="card-body">
          <h3 class="card-title text-center">{{order.product.title}}</h3>
          <p class="card-text text-center">{{order.product.description}}</p>
          {% if order.product.includes_setup %}
            <a class="btn btn-block btn-primary btn-lg" href="{% url 'users:order-detail' pk=order.pk %}">Setup Details</a>
          {% else %}
            <a class="btn btn-block btn-primary btn-lg" href="{{order.product.zip_file.url}}" download="{{order.product.filename}}">Download</a>
            <a class="btn btn-block btn-outline-dark" href="{% url 'documentation:deployment-guide' order.product.slug %}">Deployment Guide</a>
          {% endif %}
        </div>
      </div>
      <br>
  </div>
  {% endfor %}
</div>
</div>
</div>

{% endblock content %}
