{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_block %}
{% endblock meta_block %}


{% block content %}
<main >

    <div class="jumbotron text-center">
      <h1 class="display-4">Access Your Downloads</h1>
      <p class="lead">Set your password to securely retrieve your digital purchase.</p>
      <p>Unlimited Downloads | Return as many times as you want</p>

    </div>
    <div class="container">
      <div class="col-md-8 mx-auto">
        <form method="POST">
          {% csrf_token %}
          {% crispy form %}
          <div class="text-center my-4">
            <input class="btn btn-primary btn-lg"type="submit" value="Access My Purchase">
          </div>
        </form>
      </div>
  </div>
</main>
{% endblock content %}
